In [110]:
import pandas as pd
import os
import numpy as np

In [3]:
working_dir = os.getcwd()

In [4]:
working_dir

'/Users/lou/PycharmProjects/Credit_Spread_Forecast'

In [112]:
data_dir = working_dir + "/data/"
d_list = []
for file in os.listdir(data_dir):
    file_name = data_dir + file
    print(file_name)
    if "Con" in file_name:
        continue
    print(len(data))
    data = pd.read_csv(file_name)
    data.set_index("DATE")
    d_list.append(data)

fpd = d_list[0]
for i in range(1, len(d_list)):
    fpd = pd.merge(fpd, d_list[i], on="DATE")
fpd.head()

/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/DGS10.csv
2609
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/BAMLC0A3CAEY.csv
2609
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/BAMLC0A2CAAEY.csv
5837
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/BAMLC0A4CBBBEY.csv
5837
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/Consumer Confidence Index.csv
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/VIXCLS.csv
1322
/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/BAMLC0A1CAAAEY.csv
1305

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DATE</th>
      <th>DGS10</th>
      <th>BAMLC0A3CAEY</th>
      <th>BAMLC0A2CAAEY</th>
      <th>BAMLC0A4CBBBEY</th>
      <th>VIXCLS</th>
      <th>BAMLC0A1CAAAEY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014-01-31</td>
      <td>2.67</td>
      <td>2.77</td>
      <td>2.40</td>
      <td>3.76</td>
      <td>18.41</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014-02-03</td>
      <td>2.61</td>
      <td>2.72</td>
      <td>2.36</td>
      <td>3.72</td>
      <td>21.44</td>
      <td>2.65</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014-02-04</td>
      <td>2.64</td>
      <td>2.75</td>
      <td>2.38</td>
      <td>3.74</td>
      <td>19.11</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-02-05</td>
      <td>2.70</td>
      <td>2.77</td>
      <td>2.40</td>
      <td>3.76</td>
      <td>19.95</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-02-06</td>
      <td>2.73</td>
      <td>2.78</td>
      <td>2.41</td>
      <td>3.77</td>
      <td>17.23</td>
      <td>2.73</td>
    </tr>
  </tbody>
</table>
</div>

In [113]:
fpd = fpd.set_index("DATE")
fpd = fpd.replace(".", np.nan)
fpd = fpd.dropna()
fpd

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DGS10</th>
      <th>BAMLC0A3CAEY</th>
      <th>BAMLC0A2CAAEY</th>
      <th>BAMLC0A4CBBBEY</th>
      <th>VIXCLS</th>
      <th>BAMLC0A1CAAAEY</th>
    </tr>
    <tr>
      <th>DATE</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014-01-31</th>
      <td>2.67</td>
      <td>2.77</td>
      <td>2.40</td>
      <td>3.76</td>
      <td>18.41</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>2014-02-03</th>
      <td>2.61</td>
      <td>2.72</td>
      <td>2.36</td>
      <td>3.72</td>
      <td>21.44</td>
      <td>2.65</td>
    </tr>
    <tr>
      <th>2014-02-04</th>
      <td>2.64</td>
      <td>2.75</td>
      <td>2.38</td>
      <td>3.74</td>
      <td>19.11</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th>2014-02-05</th>
      <td>2.70</td>
      <td>2.77</td>
      <td>2.40</td>
      <td>3.76</td>
      <td>19.95</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>2014-02-06</th>
      <td>2.73</td>
      <td>2.78</td>
      <td>2.41</td>
      <td>3.77</td>
      <td>17.23</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>2014-02-07</th>
      <td>2.71</td>
      <td>2.75</td>
      <td>2.38</td>
      <td>3.73</td>
      <td>15.29</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>2014-02-10</th>
      <td>2.70</td>
      <td>2.75</td>
      <td>2.38</td>
      <td>3.73</td>
      <td>15.26</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>2014-02-11</th>
      <td>2.75</td>
      <td>2.77</td>
      <td>2.40</td>
      <td>3.75</td>
      <td>14.51</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>2014-02-12</th>
      <td>2.80</td>
      <td>2.80</td>
      <td>2.43</td>
      <td>3.77</td>
      <td>14.30</td>
      <td>2.77</td>
    </tr>
    <tr>
      <th>2014-02-13</th>
      <td>2.73</td>
      <td>2.76</td>
      <td>2.39</td>
      <td>3.72</td>
      <td>14.14</td>
      <td>2.72</td>
    </tr>
    <tr>
      <th>2014-02-14</th>
      <td>2.75</td>
      <td>2.76</td>
      <td>2.40</td>
      <td>3.71</td>
      <td>13.57</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>2014-02-18</th>
      <td>2.71</td>
      <td>2.72</td>
      <td>2.37</td>
      <td>3.68</td>
      <td>13.87</td>
      <td>2.70</td>
    </tr>
    <tr>
      <th>2014-02-19</th>
      <td>2.73</td>
      <td>2.75</td>
      <td>2.38</td>
      <td>3.70</td>
      <td>15.50</td>
      <td>2.72</td>
    </tr>
    <tr>
      <th>2014-02-20</th>
      <td>2.76</td>
      <td>2.76</td>
      <td>2.40</td>
      <td>3.71</td>
      <td>14.79</td>
      <td>2.74</td>
    </tr>
    <tr>
      <th>2014-02-21</th>
      <td>2.73</td>
      <td>2.75</td>
      <td>2.39</td>
      <td>3.70</td>
      <td>14.68</td>
      <td>2.72</td>
    </tr>
    <tr>
      <th>2014-02-24</th>
      <td>2.75</td>
      <td>2.75</td>
      <td>2.39</td>
      <td>3.70</td>
      <td>14.23</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>2014-02-25</th>
      <td>2.70</td>
      <td>2.71</td>
      <td>2.36</td>
      <td>3.66</td>
      <td>13.67</td>
      <td>2.69</td>
    </tr>
    <tr>
      <th>2014-02-26</th>
      <td>2.67</td>
      <td>2.69</td>
      <td>2.34</td>
      <td>3.64</td>
      <td>14.35</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th>2014-02-27</th>
      <td>2.65</td>
      <td>2.67</td>
      <td>2.32</td>
      <td>3.62</td>
      <td>14.04</td>
      <td>2.64</td>
    </tr>
    <tr>
      <th>2014-02-28</th>
      <td>2.66</td>
      <td>2.69</td>
      <td>2.40</td>
      <td>3.64</td>
      <td>14.00</td>
      <td>2.66</td>
    </tr>
    <tr>
      <th>2014-03-03</th>
      <td>2.60</td>
      <td>2.67</td>
      <td>2.37</td>
      <td>3.62</td>
      <td>16.00</td>
      <td>2.63</td>
    </tr>
    <tr>
      <th>2014-03-04</th>
      <td>2.70</td>
      <td>2.71</td>
      <td>2.41</td>
      <td>3.67</td>
      <td>14.10</td>
      <td>2.68</td>
    </tr>
    <tr>
      <th>2014-03-05</th>
      <td>2.70</td>
      <td>2.72</td>
      <td>2.42</td>
      <td>3.67</td>
      <td>13.89</td>
      <td>2.69</td>
    </tr>
    <tr>
      <th>2014-03-06</th>
      <td>2.74</td>
      <td>2.75</td>
      <td>2.45</td>
      <td>3.69</td>
      <td>14.21</td>
      <td>2.72</td>
    </tr>
    <tr>
      <th>2014-03-07</th>
      <td>2.80</td>
      <td>2.79</td>
      <td>2.50</td>
      <td>3.74</td>
      <td>14.11</td>
      <td>2.76</td>
    </tr>
    <tr>
      <th>2014-03-10</th>
      <td>2.79</td>
      <td>2.79</td>
      <td>2.49</td>
      <td>3.74</td>
      <td>14.20</td>
      <td>2.76</td>
    </tr>
    <tr>
      <th>2014-03-11</th>
      <td>2.77</td>
      <td>2.78</td>
      <td>2.48</td>
      <td>3.73</td>
      <td>14.80</td>
      <td>2.75</td>
    </tr>
    <tr>
      <th>2014-03-12</th>
      <td>2.73</td>
      <td>2.76</td>
      <td>2.46</td>
      <td>3.72</td>
      <td>14.47</td>
      <td>2.72</td>
    </tr>
    <tr>
      <th>2014-03-13</th>
      <td>2.66</td>
      <td>2.71</td>
      <td>2.41</td>
      <td>3.68</td>
      <td>16.22</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th>2014-03-14</th>
      <td>2.65</td>
      <td>2.72</td>
      <td>2.42</td>
      <td>3.68</td>
      <td>17.82</td>
      <td>2.68</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2018-12-18</th>
      <td>2.82</td>
      <td>3.95</td>
      <td>3.58</td>
      <td>4.68</td>
      <td>25.58</td>
      <td>3.55</td>
    </tr>
    <tr>
      <th>2018-12-19</th>
      <td>2.77</td>
      <td>3.92</td>
      <td>3.55</td>
      <td>4.65</td>
      <td>25.58</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2018-12-20</th>
      <td>2.79</td>
      <td>3.96</td>
      <td>3.58</td>
      <td>4.70</td>
      <td>28.38</td>
      <td>3.55</td>
    </tr>
    <tr>
      <th>2018-12-21</th>
      <td>2.79</td>
      <td>3.96</td>
      <td>3.58</td>
      <td>4.72</td>
      <td>30.11</td>
      <td>3.56</td>
    </tr>
    <tr>
      <th>2018-12-24</th>
      <td>2.74</td>
      <td>3.93</td>
      <td>3.54</td>
      <td>4.69</td>
      <td>36.07</td>
      <td>3.52</td>
    </tr>
    <tr>
      <th>2018-12-26</th>
      <td>2.81</td>
      <td>3.97</td>
      <td>3.58</td>
      <td>4.74</td>
      <td>30.41</td>
      <td>3.57</td>
    </tr>
    <tr>
      <th>2018-12-27</th>
      <td>2.77</td>
      <td>3.93</td>
      <td>3.54</td>
      <td>4.70</td>
      <td>29.96</td>
      <td>3.55</td>
    </tr>
    <tr>
      <th>2018-12-28</th>
      <td>2.72</td>
      <td>3.93</td>
      <td>3.54</td>
      <td>4.71</td>
      <td>28.34</td>
      <td>3.56</td>
    </tr>
    <tr>
      <th>2018-12-31</th>
      <td>2.69</td>
      <td>3.90</td>
      <td>3.51</td>
      <td>4.69</td>
      <td>25.42</td>
      <td>3.53</td>
    </tr>
    <tr>
      <th>2019-01-02</th>
      <td>2.66</td>
      <td>3.88</td>
      <td>3.50</td>
      <td>4.67</td>
      <td>23.22</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2019-01-03</th>
      <td>2.56</td>
      <td>3.80</td>
      <td>3.41</td>
      <td>4.60</td>
      <td>25.45</td>
      <td>3.42</td>
    </tr>
    <tr>
      <th>2019-01-04</th>
      <td>2.67</td>
      <td>3.90</td>
      <td>3.50</td>
      <td>4.68</td>
      <td>21.38</td>
      <td>3.51</td>
    </tr>
    <tr>
      <th>2019-01-07</th>
      <td>2.70</td>
      <td>3.91</td>
      <td>3.52</td>
      <td>4.69</td>
      <td>21.4</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2019-01-08</th>
      <td>2.73</td>
      <td>3.93</td>
      <td>3.55</td>
      <td>4.70</td>
      <td>20.47</td>
      <td>3.52</td>
    </tr>
    <tr>
      <th>2019-01-09</th>
      <td>2.74</td>
      <td>3.91</td>
      <td>3.54</td>
      <td>4.67</td>
      <td>19.98</td>
      <td>3.51</td>
    </tr>
    <tr>
      <th>2019-01-10</th>
      <td>2.74</td>
      <td>3.91</td>
      <td>3.53</td>
      <td>4.67</td>
      <td>19.5</td>
      <td>3.52</td>
    </tr>
    <tr>
      <th>2019-01-11</th>
      <td>2.71</td>
      <td>3.88</td>
      <td>3.50</td>
      <td>4.64</td>
      <td>18.19</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2019-01-14</th>
      <td>2.71</td>
      <td>3.88</td>
      <td>3.50</td>
      <td>4.64</td>
      <td>19.07</td>
      <td>3.51</td>
    </tr>
    <tr>
      <th>2019-01-15</th>
      <td>2.72</td>
      <td>3.88</td>
      <td>3.49</td>
      <td>4.64</td>
      <td>18.6</td>
      <td>3.51</td>
    </tr>
    <tr>
      <th>2019-01-16</th>
      <td>2.73</td>
      <td>3.88</td>
      <td>3.49</td>
      <td>4.63</td>
      <td>19.04</td>
      <td>3.51</td>
    </tr>
    <tr>
      <th>2019-01-17</th>
      <td>2.75</td>
      <td>3.87</td>
      <td>3.49</td>
      <td>4.63</td>
      <td>18.06</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2019-01-18</th>
      <td>2.79</td>
      <td>3.87</td>
      <td>3.50</td>
      <td>4.63</td>
      <td>17.8</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>2019-01-22</th>
      <td>2.74</td>
      <td>3.82</td>
      <td>3.45</td>
      <td>4.58</td>
      <td>20.8</td>
      <td>3.45</td>
    </tr>
    <tr>
      <th>2019-01-23</th>
      <td>2.76</td>
      <td>3.81</td>
      <td>3.45</td>
      <td>4.57</td>
      <td>19.52</td>
      <td>3.45</td>
    </tr>
    <tr>
      <th>2019-01-24</th>
      <td>2.72</td>
      <td>3.76</td>
      <td>3.40</td>
      <td>4.53</td>
      <td>18.89</td>
      <td>3.42</td>
    </tr>
    <tr>
      <th>2019-01-25</th>
      <td>2.76</td>
      <td>3.78</td>
      <td>3.42</td>
      <td>4.54</td>
      <td>17.42</td>
      <td>3.44</td>
    </tr>
    <tr>
      <th>2019-01-28</th>
      <td>2.75</td>
      <td>3.76</td>
      <td>3.41</td>
      <td>4.53</td>
      <td>18.87</td>
      <td>3.43</td>
    </tr>
    <tr>
      <th>2019-01-29</th>
      <td>2.72</td>
      <td>3.73</td>
      <td>3.38</td>
      <td>4.50</td>
      <td>19.13</td>
      <td>3.40</td>
    </tr>
    <tr>
      <th>2019-01-30</th>
      <td>2.70</td>
      <td>3.70</td>
      <td>3.35</td>
      <td>4.47</td>
      <td>17.66</td>
      <td>3.39</td>
    </tr>
    <tr>
      <th>2019-01-31</th>
      <td>2.63</td>
      <td>3.65</td>
      <td>3.30</td>
      <td>4.40</td>
      <td>16.57</td>
      <td>3.33</td>
    </tr>
  </tbody>
</table>
<p>1249 rows × 6 columns</p>
</div>

In [114]:
fpd.to_csv(working_dir + "/output/combined_data.csv")

In [87]:
result.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>BAMLC0A1CAAAEY</th>
      <th>BAMLC0A2CAAEY</th>
      <th>BAMLC0A3CAEY</th>
      <th>BAMLC0A4CBBBEY</th>
      <th>DATE</th>
      <th>DGS10</th>
      <th>VIXCLS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1317</th>
      <td>3.44</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2019-01-25</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1318</th>
      <td>3.43</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2019-01-28</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1319</th>
      <td>3.40</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2019-01-29</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1320</th>
      <td>3.39</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2019-01-30</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1321</th>
      <td>3.33</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2019-01-31</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [67]:
cci_data.set_index("DATE")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CCI</th>
    </tr>
    <tr>
      <th>DATE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1970-01-01</th>
      <td>101.5096</td>
    </tr>
    <tr>
      <th>1970-01-02</th>
      <td>101.2555</td>
    </tr>
    <tr>
      <th>1970-01-03</th>
      <td>101.0360</td>
    </tr>
    <tr>
      <th>1970-01-04</th>
      <td>100.9149</td>
    </tr>
    <tr>
      <th>1970-01-05</th>
      <td>100.9454</td>
    </tr>
    <tr>
      <th>1970-01-06</th>
      <td>101.0320</td>
    </tr>
    <tr>
      <th>1970-01-07</th>
      <td>101.0503</td>
    </tr>
    <tr>
      <th>1970-01-08</th>
      <td>100.9120</td>
    </tr>
    <tr>
      <th>1970-01-09</th>
      <td>100.6978</td>
    </tr>
    <tr>
      <th>1970-01-10</th>
      <td>100.5198</td>
    </tr>
    <tr>
      <th>1970-01-11</th>
      <td>100.4621</td>
    </tr>
    <tr>
      <th>1970-01-12</th>
      <td>100.4829</td>
    </tr>
    <tr>
      <th>1970-01-13</th>
      <td>100.5308</td>
    </tr>
    <tr>
      <th>1970-01-14</th>
      <td>100.5818</td>
    </tr>
    <tr>
      <th>1970-01-15</th>
      <td>100.6497</td>
    </tr>
    <tr>
      <th>1970-01-16</th>
      <td>100.7698</td>
    </tr>
    <tr>
      <th>1970-01-17</th>
      <td>100.9658</td>
    </tr>
    <tr>
      <th>1970-01-18</th>
      <td>101.1647</td>
    </tr>
    <tr>
      <th>1970-01-19</th>
      <td>101.2602</td>
    </tr>
    <tr>
      <th>1970-01-20</th>
      <td>101.1731</td>
    </tr>
    <tr>
      <th>1970-01-21</th>
      <td>101.0149</td>
    </tr>
    <tr>
      <th>1970-01-22</th>
      <td>100.9356</td>
    </tr>
    <tr>
      <th>1970-01-23</th>
      <td>101.0411</td>
    </tr>
    <tr>
      <th>1970-01-24</th>
      <td>101.2330</td>
    </tr>
    <tr>
      <th>1970-01-25</th>
      <td>101.3700</td>
    </tr>
    <tr>
      <th>1970-01-26</th>
      <td>101.3431</td>
    </tr>
    <tr>
      <th>1970-01-27</th>
      <td>101.2059</td>
    </tr>
    <tr>
      <th>1970-01-28</th>
      <td>101.0270</td>
    </tr>
    <tr>
      <th>1970-01-29</th>
      <td>100.8535</td>
    </tr>
    <tr>
      <th>1970-01-30</th>
      <td>100.7151</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>1971-11-10</th>
      <td>100.5005</td>
    </tr>
    <tr>
      <th>1971-11-11</th>
      <td>100.3958</td>
    </tr>
    <tr>
      <th>1971-11-12</th>
      <td>100.3769</td>
    </tr>
    <tr>
      <th>1971-11-13</th>
      <td>100.4529</td>
    </tr>
    <tr>
      <th>1971-11-14</th>
      <td>100.7781</td>
    </tr>
    <tr>
      <th>1971-11-15</th>
      <td>101.1115</td>
    </tr>
    <tr>
      <th>1971-11-16</th>
      <td>101.2579</td>
    </tr>
    <tr>
      <th>1971-11-17</th>
      <td>101.2457</td>
    </tr>
    <tr>
      <th>1971-11-18</th>
      <td>101.2155</td>
    </tr>
    <tr>
      <th>1971-11-19</th>
      <td>101.1764</td>
    </tr>
    <tr>
      <th>1971-11-20</th>
      <td>101.1061</td>
    </tr>
    <tr>
      <th>1971-11-21</th>
      <td>101.0015</td>
    </tr>
    <tr>
      <th>1971-11-22</th>
      <td>100.9610</td>
    </tr>
    <tr>
      <th>1971-11-23</th>
      <td>101.0563</td>
    </tr>
    <tr>
      <th>1971-11-24</th>
      <td>101.1756</td>
    </tr>
    <tr>
      <th>1971-11-25</th>
      <td>101.3234</td>
    </tr>
    <tr>
      <th>1971-11-26</th>
      <td>101.3036</td>
    </tr>
    <tr>
      <th>1971-11-27</th>
      <td>101.2220</td>
    </tr>
    <tr>
      <th>1971-11-28</th>
      <td>101.2510</td>
    </tr>
    <tr>
      <th>1971-11-29</th>
      <td>101.4086</td>
    </tr>
    <tr>
      <th>1971-11-30</th>
      <td>101.5066</td>
    </tr>
    <tr>
      <th>1971-12-01</th>
      <td>101.4576</td>
    </tr>
    <tr>
      <th>1971-12-02</th>
      <td>101.3743</td>
    </tr>
    <tr>
      <th>1971-12-03</th>
      <td>101.3166</td>
    </tr>
    <tr>
      <th>1971-12-04</th>
      <td>101.2820</td>
    </tr>
    <tr>
      <th>1971-12-05</th>
      <td>101.2865</td>
    </tr>
    <tr>
      <th>1971-12-06</th>
      <td>101.3644</td>
    </tr>
    <tr>
      <th>1971-12-07</th>
      <td>101.3662</td>
    </tr>
    <tr>
      <th>1971-12-08</th>
      <td>101.3337</td>
    </tr>
    <tr>
      <th>1971-12-09</th>
      <td>101.3239</td>
    </tr>
  </tbody>
</table>
<p>708 rows × 1 columns</p>
</div>

In [69]:
cci_data.to_csv("/Users/lou/PycharmProjects/Credit_Spread_Forecast/data/Consumer Confidence Index.csv")